@{
    ViewBag.Title = "Encrypt Config Section(s)";
}

@section scripts
{

    <script type="text/javascript">
        function EncryptViewModel() {
            var self = this;

            // thumbprint
            self.thumbprint = ko.observable().extend({
                required: {
                    message: 'Thumbprint is required.'
                },
                validation: {
                    validator: function (val) {
                        var isValid = false,
                            validation = this;
                        $.ajax({
                            url: '/CloudConfigCrypto/ValidateThumbprint',
                            type: 'POST',
                            data: { thumbprint: val },
                            async: false
                        })
                        .success(function (response) {
                            if (response === true) isValid = true;
                            else validation.message = response;
                        });
                        return isValid;
                    },
                    message: 'Your local computer certificate store does not contain a certificate with this thumbprint.',
                    params: self
                }
            });
            self.thumbprintEl = undefined;
            self.sampleThumbprint = '630e33c5ead42a5564e22d920a0c5ac4b10cf052'.toUpperCase();
            self.useSampleThumbprint = function () {
                self.thumbprint(self.sampleThumbprint);
                return false;
            };
            self.useCustomThumbprint = function () {
                self.thumbprint(undefined);
                $(self.thumbprintEl).focus();
                return false;
            };

            // unencrypted
            self.unencrypted = ko.observable().extend({
                required: {
                    message: 'Unencrypted config section(s) is required.'
                }
            });
            self.unencryptedEl = undefined;
            self.exampleConfigSections = '<connectionStrings>\n  <add name="DefaultConnection" connectionString="Data Source=.\\SQLEXPRESS;Initial Catalog=aspnet-CloudConfigCrypto.Web-20120922133933;Integrated Security=SSPI" providerName="System.Data.SqlClient" />\n</connectionStrings>\n<appSettings>\n  <add key=\"RecaptchaPrivateKey\" value=\"8UxmrfPQHHHHHVsEPrVwEgOJCIwQpdVWZAlw9plm\" />\n  <add key=\"GeoPlanetAppId\" value=\"XjFhslJ7dKLdfKFdK_lksdfkL9sdL9fdKfdjad-\" />\n</appSettings>';
            self.useExampleConfigSections = function () {
                self.unencrypted(self.exampleConfigSections);
                return false;
            };
            self.useCustomConfigSections = function () {
                self.unencrypted(undefined);
                $(self.unencryptedEl).focus();
                return false;
            };

            // encrypt
            self.encrypted = ko.observable();
            self.encryptedEl = undefined;
            self.isEncrypting = ko.observable(false);
            self.submitText = ko.computed(function () {
                return self.isEncrypting() ? 'Encrypting...' : 'Encrypt';
            });
            self.submit = function () {
                if (!self.isValid()) {
                    self.errors.showAllMessages();
                }
                else {
                    self.isEncrypting(true);
                    $.ajax({
                        url: '/CloudConfigCrypto/Encrypt',
                        type: 'POST',
                        data: {
                            thumbprint: self.thumbprint(),
                            unencrypted: self.unencrypted()
                        }
                    })
                    .success(function (response) {
                        self.encrypted(response);
                        $('#dialog').dialog({
                            height: 500,
                            width: 960
                        });
                        $(self.encryptedEl).select();
                    })
                    .error(function () {
                        alert('something went wrong on the server :(');
                    })
                    .complete(function () {
                        self.isEncrypting(false);
                    });
                }
            };
            
            // download
            self.download = function (vm, e) {
                $(e.target).closest('form').submit();
                $(self.encryptedEl).select();
                return false;
            };
        };

        var encryptViewModel = new EncryptViewModel();
        ko.applyBindingsWithValidation(ko.validatedObservable(encryptViewModel), document.body, {
            insertMessages: false,
            decorateElement: true,
            errorElementClass: 'input-validation-error',
            errorMessageClass: 'field-validation-error'
        });
    </script>

}

<h2>@ViewBag.Title</h2>
<form method="POST" data-bind="submit: submit">
    <br />
    <label for="thumbprint">Thumbprint</label>
    <a href="#" data-bind="click: useSampleThumbprint">Use sample certificate thumbprint</a> | 
    <a href="#" data-bind="click: useCustomThumbprint">Enter custom certificate thumbprint</a>
    <div>
        <span class="field-validation-error" data-bind="validationMessage: thumbprint"></span>
    </div>
    <input type="text" name="thumbprint" id="thumbprint" data-bind="value: thumbprint, validationElement: thumbprint, element: 'thumbprintEl'" style="width: 420px;" />
    <br />
    <br />
    <label for="unencrypted">Unencrypted config section(s)</label>
    <a href="#" data-bind="click: useExampleConfigSections">Use example config sections</a> |
    <a href="#" data-bind="click: useCustomConfigSections">Enter custom config sections</a>
    <div>
        <span class="field-validation-error" data-bind="validationMessage: unencrypted"></span>
    </div>
    <textarea name="unencrypted" id="unencrypted" style="width: 960px; min-height: 300px;" data-bind="value: unencrypted, validationElement: unencrypted, element: 'unencryptedEl'"></textarea>
    <br />
    <input type="submit" value="Encrypt" data-bind="value: submitText, enable: !isEncrypting()" />
    <img data-bind="visible: isEncrypting" src="~/images/spinner.gif" alt="" style="vertical-align: middle; display: inline-block;" />
</form>
<div id="dialog" title="Encrypted config section(s)" style="display: none;">
    <form method="POST" action="@Url.Action("Save", "CloudConfigCrypto")">
        Hit <kbd>CTRL + C</kbd> to copy, or
        <a href="@Url.Action("Save", "CloudConfigCrypto")" data-bind="click: download">Save to file</a>.
        <input name="content" type="hidden" data-bind="value: encrypted" />
    </form>
    <textarea data-bind="value: encrypted, element: 'encryptedEl'" style="width: 900px; height: 400px;"></textarea>
</div>
