@{
    ViewBag.Title = "Getting Started";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title:</h1>
                <h2>
                    This app will help you encrypt (&amp; decrypt!) web.config (&amp; app.config!) sections
                    for Azure, or any server where you can't touch the machine.config file.
                </h2>
            </hgroup>
            <p>
                All of this is based on a <a href="http://nuget.org/packages/Pkcs12ProtectedConfigurationProvider"
                    target="_blank">PKCS12ProtectedConfigurationProvider nuget package</a> and a
                <a href="http://archive.msdn.microsoft.com/pkcs12protectedconfg" target="_blank">set
                    of articles published by Wayne Walter Berry</a>. This app <strong>will not</strong>
                create your certificate, push it to Azure, or place it in your local certificate
                store. It <strong>will</strong> help you encrypt and decrypt sections without a
                command prompt.
            </p>
            @*<p>
                To learn more about ASP.NET MVC visit <a href="http://asp.net/mvc" title="ASP.NET MVC Website">
                    http://asp.net/mvc</a>. The page features
                <mark>videos, tutorials, and samples</mark>
                to help you get the most from ASP.NET MVC. If you have any questions about ASP.NET
                MVC visit <a href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">
                    our forums</a>.
            </p>*@
        </div>
    </section>
}
<h3>
    Follow this process:
</h3>
<ol class="round">
    <li class="one">
        <h5>
            Create public &amp; private key certificates
        </h5>
        Follow <a href="@Url.Action("CreateCertificates", "CloudConfigCrypto")">these instructions</a>
        to create the certificates that will be used to encrypt and decrypt your config
        file(s).
        <br />
        To simply test this app, you can skip this step and use the sample certificates
        provided with this project (in the <code>sample_certificates</code> folder).
    </li>
    <li class="two">
        <h5>
            Import the certificates into your local certificate store
        </h5>
        Follow <a href="@Url.Action("ImportCertificatesLocally", "CloudConfigCrypto")">these
            instructions</a> to import certificates into your local machine.</li>
    <li class="three">
        <h5>
            Encrypt Config Section(s)
        </h5>
        After you have imported a certificate and noted the thumbprint, you are ready to <a href="@Url.Action("EncryptConfigSections", "CloudConfigCrypto")">encrypt config sections</a>.</li>
</ol>
